<app-header backButton="/auth" title="Recuperar Cuenta"></app-header>
<ion-content>
 
<div class="d-flex-center">
 
 
  <!--este es el formulario--> 
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit">
      <p class="ion-text-center">Te enviaremos un email para restablecer tu contraseña </p>

<!--===============email ===================-->
    <app-custom-input 
    autocomplete="email" 
    [control]="form.controls.email"
    type ="email"
    label="correo"
    ></app-custom-input><!--{{form.value.email}} -- se usa para probar si te reconoce el email--> 
  

    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div *ngIf="form.controls.email.errors?.['required'] ">El correo es requerido</div>
      <div *ngIf="form.controls.email.errors?.['email'] ">Ingrese un correo</div>
    </div>


     <!-- Estos los botones--> 
    <ion-button expand="block"  mode="ios" class="submit" type="submit" [disabled]="form.invalid">
      Recuperar 
    </ion-button>

    </form>

</div>
 

