
h1{
    margin-top: 0;
}
.logo {
    display: block;
    width: 100px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto 10px; /* Centra la imagen y añade un margen debajo */
  }
  