




.logo {
    display: block;
    width: 80%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto -20px; /* Centra la imagen y añade un margen debajo */
  }
  