<ion-content [fullscreen]="true" class="content-background">
  <div class="container">
    <p style="font-size: 35px; color: black;">Aqui se Coloca el Logo</p>
    <div class="logo-container">
      <p class="welcomeDoctor_IS-text">¡BIENVENIDO AL TOPICO!</p>
      <p class="university-text">Universidad "SIN NOMBRE"</p>
    </div>
  </div>

  <div class="button-container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button color="dark" routerLink="authP" class="rectangular-button doctor-button">
        Iniciar
      </ion-button>
    </ion-fab>
  </div>
</ion-content>
