
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">


<ion-content [fullscreen]="true" class="content-background">
  <div class="container">
    <img class="logo-SA" src="../assets/logoSuperAdmin.svg" alt="">
    <div class="logo-container">
      <p class="welcomeDoctor_IS-text">BIENVENIDO AL TOPICO</p>
      <p class="university-text">Universidad César Vallejo</p>
    </div>
  </div>

  <div class="button-container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button color="dark" routerLink="authP" class="rectangular-button doctor-button">
        Iniciar
      </ion-button>
    </ion-fab>
  </div>
</ion-content>
