
.text-white {
    color: #ffffff !important;
  }
.logo {
    display: block;
    width: 120px; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0 auto 10px; /* Centra la imagen y añade un margen debajo */
  }
  