.btn-azul {
    --background: #003B5C; // Este es un tono de azul
    --background-activated: #0056b3; // Un tono de azul más oscuro para cuando se presiona el botón
  }
 .background{
  color: #003B5C;
 }
 