ion-header {
    ion-toolbar {
      background-color: #003B5C; /* Color de fondo azul oscuro de la Universidad César Vallejo */
      border-bottom: 1px solid #050505; /* Borde blanco */
  
      ion-buttons {
        ion-back-button, ion-button, ion-menu-button {
          color: #df0000; /* Color blanco para los iconos */
        }
      }
  
      ion-title {
        color: #FFFFFF; /* Color blanco para el título */
  
        strong {
          font-size: 20px;
          font-weight: bold;
        }
  
        .admin {
          font-size: 14px;
          color: #fffcfc; /* Color blanco para el texto "ADMIN" */
        }
      }
    }
  }
  