<app-header-estudiante-ms [showMenu]="true"  title="Especialistas"></app-header-estudiante-ms>


    <ion-content>
      <ion-list>
        <ion-item button detail routerLink="horario"  lines="none">
        
          <ion-label>
            <h2>Dr. Josue Aguirre</h2>
            <p>Especialista en Odontologia</p>
          </ion-label>
        </ion-item>

        <ion-item button detail routerLink="horario" lines="none">
         
          <ion-label>
            <h2>Dra. Roxana De la Cruz</h2>
            <p>Especialista en Odontologia</p>
          </ion-label>
        </ion-item>
        <!-- Añade más ítems para otros doctores -->
      </ion-list>
    </ion-content>



