<ion-content [fullscreen]="true" class="content-background">
  <div class="container">
    <p class="welcome-text">Aqui se puede Poner un Logo</p>
    <div class="logo-container">
      <p class="welcome-text">¡TOPICO DOCTOR!</p>
      <p class="university-text">Universidad "SIN NOMBRE"</p>
    </div>
  </div>

  <div class="button-container">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-button color="danger" routerLink="authP" class="rectangular-button doctor-button">

        Iniciar Sesion 
      </ion-button>

      <ion-button color="danger" routerLink="sign-up" class="rectangular-button doctor-button">

        Registrarse
      </ion-button>
    </ion-fab>
  </div>
</ion-content>
