<app-header [isModal]="true" [title]="cita ? 'Actualizar Cita' : 'Agregar Cita'" ></app-header>
<ion-content> 
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit">
   
      <!-- Si existe una imagen -->
      <ion-avatar *ngIf="form.value.image">
          <img [src]="form.value.image" />
      </ion-avatar>
      <!-- Si no existe imagen -->
      <ion-icon class="image-icon" *ngIf="!form.value.image" name="document-outline"></ion-icon>
      
      <br>
      <!-- Tomar / seleccionar una foto -->
      <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
          Tomar/Seleccionar
      </ion-button>
 
      <!-- Name -->
      <app-custom-input 
          autocomplete="name" 
          icon="person-outline"
          [control]="form.controls.name"
          type ="text"
          label="Nombre"
      ></app-custom-input>

      <!-- DNI -->
      <app-custom-input 
          autocomplete="off" 
          icon="card-outline"
          [control]="form.controls.dni"
          type ="text"
          label="DNI"
      ></app-custom-input>

        <!-- Sold Units / Telefono -->
        <app-custom-input 
            icon="call-outline"
            [control]="form.controls.soldUnits"
            type ="number"
            label="Teléfono"
            (ionInput)="setNumberInputs()"
        ></app-custom-input>

        <!-- Fecha -->
        <app-custom-input 
            icon="calendar-outline"
            [control]="form.controls.fecha"
            type="date"
            label="Fecha"
            (ionInput)="setNumberInputs()"
        ></app-custom-input>

  <!-- FACULTAD -->
        <app-custom-input 
        autocomplete="facultad" 
        icon="person-outline"
        [control]="form.controls.facultad"
        type ="text"
        label="Facultad"
    ></app-custom-input>

     <!-- FACULTAD -->
     <app-custom-input 
     autocomplete="email" 
     icon="person-outline"
     [control]="form.controls.email"
     type ="text"
     label="email"
 ></app-custom-input>

        <!-- Hora -->
        <app-custom-input 
            icon="time-outline"
            [control]="form.controls.hora"
            type="time"
            label="Hora"
        ></app-custom-input>

        <!-- Doctor -->
        <ion-item>
            <ion-label>Doctor</ion-label>
            <ion-select formControlName="doctor">
                <ion-select-option *ngFor="let doctor of doctors" [value]="doctor">{{doctor}}</ion-select-option>
            </ion-select>
        </ion-item>
       
       <!-- Botón de enviar -->
       <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
          {{ cita ? 'Actualizar Cita' : 'Generar Cita' }}
          <ion-icon slot="end" color="#003B5C" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </form>
</ion-content>
