<app-header-estudiante-ms backButton="/auth" title="Recuperar Cuenta"></app-header-estudiante-ms>
<ion-content>
 
<div class="d-flex-center">
 
 
  <!--este es el formulario--> 
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit">
      
      <app-logo-estudiante-ms></app-logo-estudiante-ms>

      <p class="ion-text-center">Te enviaremos un email para restablecer tu contraseña </p>

<!--===============email ===================-->
    <app-custom-input-estudiante-ms 
    autocomplete="email" 
    [control]="form.controls.hotm"
    type ="email"
    label="correo"
    ></app-custom-input-estudiante-ms><!--{{form.value.email}} -- se usa para probar si te reconoce el email--> 
  
    <div class="validators" *ngIf="form.controls.hotm.errors && form.controls.hotm.touched">
      <div *ngIf="form.controls.hotm.errors?.['required'] ">El correo es requerido</div>
      <div *ngIf="form.controls.hotm.errors?.['hotm'] ">Ingrese un correo</div>
    </div>

     <!-- Estos los botones--> 
    <ion-button expand="block"  mode="ios" class="submit" type="submit" [disabled]="form.invalid">
      Recuperar 
    </ion-button>

    </form>

</div>

</ion-content>

