<app-header-estudiante-ms [showMenu]="true"  title="Especialistas"></app-header-estudiante-ms>


    <ion-content>
      <ion-list>
        <!-- Mostrar mensaje si no hay doctores -->
        <ion-item *ngIf="doctores.length === 0" lines="none">
          <ion-label class="ion-text-center">
            <p>Cargando especialistas...</p>
          </ion-label>
        </ion-item>

        <!-- Mostrar doctores dinámicamente desde Firestore -->
        <ion-item *ngFor="let doctor of doctores" button detail (click)="irAHorario(doctor)" lines="none">
          <ion-label>
            <h2>{{doctor.name}}</h2>
            <p>Especialista en {{doctor.especialidad}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>



