/* captcha.page.scss */
.captcha-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .captcha-container {
    text-align: center;
  }
  
  .captcha-display {
    font-style: italic;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  ion-button {
    --background: #fdab28;
    --background-activated: #ffc15d;
    --background-focused: #fad8a1;
    --background-hover: #ffe9c5;
    --border-radius: 10px;
  }
  
  ion-input {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --placeholder-color: #888;

    --placeholder-font-weight: bold;
  }
  
  ion-toolbar{
  --background: #2cb9c7;

  }

  ion-title{
      --color: #fcffff;


  }