<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Captcha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="captcha-content">
  <ion-grid color="primary" class="captcha-container">
    <ion-row>
      <ion-col class="captcha-display">
        {{ randomValue }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Escribe la palabra de arriba" [(ngModel)]="randomValueEntered"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="validate()">
          Verificar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
