<app-header-estudiante-ms [showMenu]="true"  title="Horarios"></app-header-estudiante-ms>
<ion-content>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Dr. Josue Aguirre</ion-card-title>
      <ion-card-subtitle>Especialista en Odontologia</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
       
        <ion-label>
          <p>Telefono: 999-999-999</p>
          <p>Correo: ucvvirtual.edu.pe</p>
          <p>Sede Lima - Norte</p>
        </ion-label>
      </ion-item><br>

      <p class="ion-text-center"> Direccion: Universidad Cesar Vallejo</p>   
    </ion-card-content>


    <ion-grid><br><br><br><br>

      <ion-row>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '08:00']">08:00 AM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '09:00']">09:00 AM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '10:00']">10:00 AM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '11:00']">11:00 AM</ion-button>
        </ion-col>
      
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '13:00']">13:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '14:00']">14:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '15:00']">15:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '16:00']">16:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '17:00']">17:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '18:00']">18:00 PM</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button class="btn-azul" expand="full" [routerLink]="['/horario/add-update-cita-dentista', '19:00']">19:00 PM</ion-button>
        </ion-col>
      </ion-row>
      
      <!-- ... (other time slots) ... -->
    </ion-grid>
  </ion-card><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</ion-content>

